@model IEnumerable<Drug>

@{
    ViewBag.Title = "Drugs List";
}


<div class="container mt-5">
    <h2 class="mb-4">@ViewBag.Title</h2>
    <div>
        <a class="btn btn-primary" asp-action="Create">Add Drug</a>
    </div>
    <br />
  

   
    <table class="table table-striped table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Manufacture Date</th>
                <th>Expiration Date</th>
                <th>Image</th>
                <th>Company</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var drug in Model)
            {
                <tr>
                    <th>@drug.Id</th>
                    <td>@drug.Name</td>
                    <td>@drug.ManufactureDate.ToShortDateString()</td>
                    <td>@drug.ExpirationDate.ToShortDateString()</td>
                    <td>
                        <img src="@Url.Content(drug.ImagePath)" alt="@drug.Name" class="img-thumbnail"  width="150px"/>
                    </td>
                    <td>@drug.Company.Name</td>
                    <td>
                        <a class="btn btn-sm btn-outline-secondary" asp-action="DrugDetails" asp-route-id="@drug.Id"
                           onclick="GetEmpData(@drug.Id)">Details</a>
                        <a class="btn btn-sm btn-success" asp-action="Edit" asp-route-id="@drug.Id" >Edit</a>
                        <a class="btn btn-sm btn-danger" asp-action="Delete" asp-route-id="@drug.Id">Delete</a>

                    </td>

                </tr>
            }
        </tbody>
            <div id="div1" ">
            </div>
    </table>
</div>
<script src="~/lib/jquery/dist/jquery.js"></script>

<script>
    function GetEmpData(EmpID) {
        
        event.preventDefault();

        // AJAX call to get drug details using jquery
        $.ajax({
            url: "@Url.Action("DrugDetails")/" + EmpID,
            success: function (result) {
                $("#div1").html(result);
            }
        });
    }

</script>


@* @model List<Drug>

@{
    ViewBag.Title = "Drug List";
}

<div>
    <a class="btn btn-primary" href="@Url.Action("Create")">Add Drug</a>
</div>
<br />
<div class="container mt-5">
    <h2 class="mb-4">@ViewBag.title</h2>
    @Html.DisplayTable(Model)
</div>
 *@
